
/* THIS IS FOR THE PORTFOLIO */




/*
styling guidelines

main bg color:                      #222, var(--bg)
secondary bg color:                 #034
secondary color (type/details):     #0ac, var(--mainColor)
tertiary color:                     #079

lightmode:

main bg color:                      #ccc, var(--bg)
secondary bg color:                 #034
secondary color (type/details):     #345, var(--mainColor)
tertiary color:                     #079
*/


/* diagnostic outline */


/**{
  outline: 1px white dotted
}*/

/* THINGS FOR ALL PAGES */
/* *{
  transition: background .3s ease-in-out;
} */
.dark{
  --mainColor: #0ac; /* var(--mainColor) */
  --fontColor: #eee;
  --bg: #111; /* var(--bg) */
  --bg2: #222;
  --secColor: #079;
}


/* UNIVERSALS */
*{
  box-sizing: border-box;
}
html{
  --w: 750px; /* var(--w) */
  --fontH: 'caudex', serif; /* var(--fontH) */
  --fontS: 'josefin-sans', sans-serif; /* var(--fontS) */
  --fontP: 'metropolisbold', sans-serif; 
}
a, p, main li{
  font-family: var(--fontP);
  font-weight: 500;
  font-size: 1em;
  max-width: 350px;
  line-height: 1.5em;
  color: var(--fontColor);
  text-decoration: none;
}
ul{
  margin: 0;
  padding: 0;
}
li {
  list-style: none ;
  font-family: var(--fontP);
  text-align: left;
}
h2, h1{
  margin: 0;
}



.black{
  font-family: 'metropolisblack', sans-serif;
  line-height: 0em;
}
.bold{
  font-family: 'metropolisbold', sans-serif;
  line-height: 0em;
}
.medium{
  font-family: 'metropolismedium', sans-serif;
  line-height: 0em;
}
.normal{
  font-family: 'metropolisregular', sans-serif;
  line-height: 0em;
}
.thin{
  font-family: 'metropolisthin', sans-serif;
  line-height: 0em;
}
.light{
  font-family: 'metropolislight', sans-serif;
  line-height: 0em;
}
.extrabold{
  font-family: 'metropolisextrabold', sans-serif;
  line-height: 0em;
}
.semibold{
  font-family: 'metropolissemibold', sans-serif;
  line-height: 0em;
}
.extralight{
  font-family: 'metropolisextralight', sans-serif;
  line-height: 0em;
}






/* GENERAL CONTENT STYLING */

body {
  display: flex;
  flex-direction: row;
  background: var(--bg);
  color: white;
  margin: 0 auto;
}

header,

footer {
  display: flex;
  justify-content: center;
}




/* ASIDE STYLING */
#navToggle ~ label{
  display: none;
}
aside {
  display: grid;
  justify-items: center;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 25px;
  position: fixed;
  background: var(--bg2);
}
aside ul{
  width: 200px;
}
aside a{
  display: inline-block;
  line-height: 2em;
  background: #046;
  margin: 8px 0px;
  padding: 5px 15px;
  width: 100%;
}
aside a:hover {
  background: #555;
  transition: ease-in .2s;
}

.activePage{ /* styling for active nav link */
  background: #063;
}
aside img{ /* logo sizing */
  width: 200px;
  
}




/* MAIN SECTION STYLING */

main {
  margin-left: 270px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
#info{
  display: flex;
}


#footer{
  display: flex;
  justify-content: flex-end;
  flex-direction: column; 
}
#footer p{
  margin: 10px;
}